/* Update image paths to use absolute paths */
#hero {
    background-image: url("/images/petspals.jpg");
}

#banner {
    background-image: url("/images/b2.png");
}

#sm-banner .banner-box {
    background-image: url("/images/b17.png");
}

#sm-banner .banner-box2 {
    background-image: url("/images/b10.png");
}

#banner3 .banner-box {
    background-image: url("/images/b7.png");
}

#banner3 .banner-box2 {
    background-image: url("/images/b4.png");
}

#banner3 .banner-box3 {
    background-image: url("/images/b18.png");
}

#page-header {
    background-image: url("/images/b1.jpg");
}

#page-header.blog-header {
    background-image: url("/images/b19.jpg");
}

#page-header.about-header {
    background-image: url("/images/banner.png");
}

#newsletter {
    background-image: url("/images/b14.png");
}

#hero button {
    background-image: url("/images/btn.png");
}